.slid-left-animation-8 {
  animation: 0.8s slid-left;
}

.slid-right-animation-8 {
  animation: 0.8s slid-right;
}

.slid-up-animation-8 {
  animation: 0.8s slid-up;
}

.slid-left-animation-5 {
  animation: 0.5s slid-left;
}

.slid-right-animation-5 {
  animation: 0.5s slid-right;
}

.slid-up-animation-5 {
  animation: 0.5s slid-up;
}

.slid-left-animation-3 {
  animation: 0.3s slid-left;
}

.slid-right-animation-3 {
  animation: 0.3s slid-right;
}

.slid-up-animation-3 {
  animation: 0.3s slid-up;
}

.fade_animations {
  animation: 0.8s fade_animations;
}

@keyframes fade_animations {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slid-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slid-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slid-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
