@import url("./theme_colors.scss");

.bg-primary {
  background: var(--primary-);
}
.bg-secondary {
  background: var(--secondary-);
}
.bg-info {
  background: var(--info-);
}
.bg-warning {
  background: var(--warning-);
}
.bg-danger- {
  background: var(--danger-);
}
.bg-red- {
  background: var(--red-);
}
.bg-gray- {
  background: var(--gray-);
}

.bg-primary-white {
  background: var(--primary-white);
}
.bg-secondary-white {
  background: var(--secondary-white);
}

.bg-primary-transparent {
  background: var(--primary-transparent-);
  transition: 0.5s;
}
.bg-primary-100 {
  background: var(--primary-100-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-200 {
  background: var(--primary-200-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-300 {
  background: var(--primary-300-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-400 {
  background: var(--primary-400-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-500 {
  background: var(--primary-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-500 {
  background: var(--primary-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-600 {
  background: var(--primary-600-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-700 {
  background: var(--primary-700-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-800 {
  background: var(--primary-800-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-primary-900 {
  background: var(--primary-900-);
  color: var(--white-);
  transition: 0.5s;
}

.bgsecondary {
  background: var(--secondary-);
  color: var(--dark-);
  transition: 0.5s;
}

.bg-warning-100 {
  background: var(--warning-100-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-200 {
  background: var(--warning-200-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-300 {
  background: var(--warning-300-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-400 {
  background: var(--warning-400-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-500 {
  background: var(--warning-500-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-600 {
  background: var(--warning-600-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-700 {
  background: var(--warning-700-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-800 {
  background: var(--warning-800-);
  color: var(--black-);
  transition: 0.5s;
}
.bg-warning-900 {
  background: var(--warning-900-);
  color: var(--black-);
  transition: 0.5s;
}

.bg-danger-transparent {
  background: var(--danger-transparent-);
  transition: 0.5s;
}
.bg-danger-100 {
  background: var(--danger-100-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-200 {
  background: var(--danger-200-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-300 {
  background: var(--danger-300-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-400 {
  background: var(--danger-400-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-500 {
  background: var(--danger-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-600 {
  background: var(--danger-600-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-700 {
  background: var(--danger-700-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-800 {
  background: var(--danger-800-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-danger-900 {
  background: var(--danger-900-);
  color: var(--danger-100-);
  transition: 0.5s;
}

.bg-gray-100 {
  background: var(--gray-100-);
  transition: 0.5s;
}
.bg-gray-200 {
  background: var(--gray-200-);
  transition: 0.5s;
}
.bg-gray-300 {
  background: var(--gray-300-);
  transition: 0.5s;
}
.bg-gray-400 {
  background: var(--gray-400-);
  transition: 0.5s;
}
.bg-gray-500 {
  background: var(--gray-500-);
  transition: 0.5s;
}
.bg-gray-600 {
  background: var(--gray-600-);
  transition: 0.5s;
}
.bg-gray-700 {
  background: var(--gray-700-);
  transition: 0.5s;
}
.bg-gray-800 {
  background: var(--gray-800-);
  transition: 0.5s;
}
.bg-gray-900 {
  background: var(--gray-900-);
  transition: 0.5s;
}

.bg-success-transparent {
  background: var(--success-transparent-);
  transition: 0.5s;
}
.bg-success-100 {
  background: var(--success-100-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-200 {
  background: var(--success-300);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-400 {
  background: var(--success-400-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-500 {
  background: var(--success-500-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-600 {
  background: var(--success-600-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-700 {
  background: var(--success-700-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-800 {
  background: var(--success-800-);
  color: var(--white-);
  transition: 0.5s;
}
.bg-success-900 {
  background: var(--success-900-);
  color: var(--danger-100-);
  transition: 0.5s;
}

.bglight {
  background: var(--light-);
  color: var(--dark-);
  transition: 0.5s;
}

.bgwhite {
  background: var(--white-);
  color: var(--dark-);
  transition: 0.5s;
}

.bgdark {
  background: var(--dark-);
  color: var(--white-);
  transition: 0.5s;
}
.bginfo {
  background: var(--info-);
  color: var(--white-);
  transition: 0.5s;
}

.bggreen {
  background: var(--green-);
  color: var(--white-);
  transition: 0.5s;
}

.primary-custom {
  background: var(--primary-custom-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-secondary-custom {
  background: var(--bg-secondary-custom-);
  color: var(--white-);
  transition: 0.5s;
}

.bg-element-dark {
  background: var(--element-dark-);
  color: var(--white-);
  transition: 0.5s;
}