@import url("./theme_colors.scss");

.bg-primary {
  background: var(--primary-);
  transition: 0.5s;
}
.bg-secondary {
  background: var(--secondary-);
  transition: 0.5s;
}
.bg-info {
  background: var(--info-);
  transition: 0.5s;
}
.bg-warning {
  background: var(--warning-);
  transition: 0.5s;
}
.bg-danger- {
  background: var(--danger-);
  transition: 0.5s;
}
.bg-red- {
  background: var(--red-);
  transition: 0.5s;
}
.bg-gray- {
  background: var(--gray-);
  transition: 0.5s;
}

.bg-primary-white {
  background: var(--primary-white);
  transition: 0.5s;
}
.bg-secondary-white {
  background: var(--secondary-white);
  transition: 0.5s;
}
