@import url("./theme_colors.scss");

.bg-primary {
  background: var(--primary-);
}
.bg-secondary {
  background: var(--secondary-);
}
.bg-info {
  background: var(--info-);
}
.bg-warning {
  background: var(--warning-);
}
.bg-danger- {
  background: var(--danger-);
}
.bg-red- {
  background: var(--red-);
}

.bg-primary-white {
  background: var(--primary-white);
}
.bg-secondary-white {
  background: var(--secondary-white);
}
