@import url("./theme_colors.scss");

.color-primary {
  color: var(--primary-100-);
}
.color-secondary {
  color: var(--secondary-);
}
.color-danger {
  color: var(--danger-100-);
}
.color-success {
  color: var(--success-100-);
}
.color-gray {
  color: var(--gray-100-);
}
.color-light {
  color: var(--light-);
}
.color-white {
  color: var(--white-);
}
.color-dark {
  color: var(--dark-);
}
.color-info {
  color: var(--info-);
}
.color-refresh {
  color: var(--refresh-);
}
.color-search {
  color: var(--search-);
}
.color-primary-custom {
  color: var(--primary-custom-);
}
.color-bg-secondary-custom {
  color: var(--bg-secondary-custom-);
}