@import url("./theme_colors.scss");

.color-primary {
  color: var(--primary-);
}
.color-secondary {
  color: var(--secondary-);
}
.color-success {
  color: var(--success-);
}
.color-success-low {
  color: var(--success-low-);
}
.color-info {
  color: var(--info-);
}
.color-warning {
  color: var(--warning-);
}
.color-danger {
  color: var(--danger-);
}
.color-red {
  color: var(--red-);
}
.color-gray {
  color: var(--gray-);
}
.color-secondary-gray {
  color: var(--secondary-gray);
}
.color-dark {
  color: var(--dark-);
}
.color-primary-white {
  color: var(--primary-white);
}
.color-secondary-white {
  color: var(--secondary-white);
}
