@import url("./variables/font_weight.scss");

.f-w-100 {
  font-weight: $--f-w-100;
}
.f-w-200 {
  font-weight: $--f-w-200;
}
.f-w-300 {
  font-weight: $--f-w-300;
}
.f-w-400 {
  font-weight: $--f-w-400;
}
.f-w-500 {
  font-weight: $--f-w-500;
}
.f-w-600 {
  font-weight: $--f-w-600;
}
.f-w-600 {
  font-weight: $--f-w-600;
}
.f-w-700 {
  font-weight: $--f-w-700;
}
.f-w-800 {
  font-weight: $--f-w-800;
}
.f-w-900 {
  font-weight: $--f-w-900;
}
.f-w-1000 {
  font-weight: $--f-w-1000;
}