@import url("./variables/font_size.scss");

.f-s-10 {
  font-size: $--f-s-10;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-12 {
  font-size: $--f-s-12;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-14 {
  font-size: $--f-s-14;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-16 {
  font-size: $--f-s-16;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-18 {
  font-size: $--f-s-18;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-20 {
  font-size: $--f-s-20;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-22 {
  font-size: $--f-s-22;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-24 {
  font-size: $--f-s-24;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-26 {
  font-size: $--f-s-26;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-28 {
  font-size: $--f-s-28;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-30 {
  font-size: $--f-s-30;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-32 {
  font-size: $--f-s-32;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-34 {
  font-size: $--f-s-34;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-36 {
  font-size: $--f-s-36;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-38 {
  font-size: $--f-s-38;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-40 {
  font-size: $--f-s-40;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-42 {
  font-size: $--f-s-42;
  line-height: 2;
  letter-spacing: 0.009375em;
}
.f-s-44 {
  font-size: $--f-s-44;
  line-height: 2;
  letter-spacing: 0.009375em;
}