@import url("./background.scss");
@import url("./colors.scss");
@import url("./flex.scss");
@import url("./font_size.scss");
@import url("./font_weight.scss");
@import url("./size.scss");
@import url("./space.scss");
@import url("./variables/global.scss");

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}
