:root {
  --primary-: #3d3bf3;
  --secondary-: #003161;
  --info-: #bfecff;
  --warning: #fff100;
  --danger: #ff0000;

  --primary-white: #fff;
  --secondary-white: #fbfbfb;

  --primary-transparent-: #4646f32c;
  --primary-100-: #4646f3;
  --primary-200-: #8686ea;
  --primary-300-: #aaaaee;
  --primary-400-: #acace7;
  --primary-500-: #a1a1fada;
  --primary-600-: #8686ffce;
  --primary-700-: #8d8dff;
  --primary-800-: #7777fc;
  --primary-900-: #c3c3f7;

  --warning-100-: yellow;
  --warning-200-: rgb(255, 255, 25);
  --warning-300-: rgb(255, 255, 48);
  --warning-400-: rgb(255, 255, 89);
  --warning-500-: rgb(222, 222, 74);
  --warning-600-: rgb(206, 206, 43);
  --warning-700-: rgb(146, 146, 31);
  --warning-800-: rgb(180, 180, 12);
  --warning-900-: rgb(191, 191, 69);

  --danger-transparent-: #f71c1c3b;
  --danger-100-: #f71c1c;
  --danger-200-: #c51d1d;
  --danger-300-: #9e0808c4;
  --danger-400-: #830303c0;
  --danger-500-: #a23737bd;
  --danger-600-: #a44f4f;
  --danger-700-: #cd7e7e;
  --danger-800-: #d69494;
  --danger-900-: #de9a9acd;

  --success-transparent-: #48f71c46;
  --success-100-: #40f71c;
  --success-200-: #44c51d;
  --success-300-: #269e08c4;
  --success-400-: #078303c0;
  --success-500-: #49a237bd;
  --success-600-: #63a44f;
  --success-700-: #87cd7e;
  --success-800-: #9cd694;
  --success-900-: #a8de9acd;

  --info-: #58d2e8;
  --white-: #ffffff;
  --light-: #e9e9e9;

  --gray-100-: #797979da;
  --gray-200-: #beb0b0;
  --gray-300-: #ae9e9e;
  --gray-400-: #aa9393;
  --gray-500-: #747474b1;
  --gray-600-: #b2aaaa;
  --gray-700-: #bd9e9eac;
  --gray-800-: #cfb8b8;
  --gray-900-: #e7e5e586;

  --green-: rgb(76, 165, 76);
  --dark-: #101010;
  --element-dark-: #202020;

  --primary-custom-: #281f3d;
  --bg-secondary-custom-: #231b34;
}
