:root {
  --primary-: #7d7be5;
  --secondary-: #003161;
  --success-: #7eed1c;
  --success-low-: #d3f8b2;
  --info-: #bfecff;
  --warning-: #fff100;
  --danger-: #f15858;
  --red-: #ff0000;
  --gray-: #807474;
  --dark-: #000000;

  --primary-white: #fff;
  --secondary-white: #f2f2f2;
}
