:root {
  --primary-: #7d7be5;
  --secondary-: #114477;
  --success-: #7eed1c;
  --success-low-: #d3f8b2;
  --info-: #bfecff;
  --warning-: #fff100;
  --danger-: #b60c0c;
  --red-: #eb5f5f;
  --gray-: #9e9393;
  --secondary-gray: #f3e7e7;
  --dark-: #000000;

  --primary-white: #fff;
  --secondary-white: #f2f2f2;
}
